

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}



a {
  color:black;
  text-decoration: none;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  padding: 1.5rem;
  min-height:1vh;
  list-style: none;
  font-size: calc(2rem+1vh);
  background-color:
  /* background:lightsalmon; */
}

#nav-links {
  color: goldenrod;
}

.section1 {
  min-height:60vh;
  background-image: url('/media/marten_bremen_sw.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.6rem + 1vw);
  

}
.section1 h2 {
  text-align:center;
  width: 100vh;
  margin: 2rem;
  color: lightblue;
}

.section1 button {
  padding: 1rem 2rem;
  background: lightblue;
  border-style: none;
  border-radius: 0.5rem;
}
/* SECTION 2*/
.section2 {
  display: flex;
  align-self:center;
  background-color: orange;
}

.section2 img {
  height: 50rem;
  width: 50rem;

}
.section2-text {
  background-color: burlywood;
  font-size: 2rem;
  min-width: 10vw;
  
}